@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'WOLFES.otf';
	src: src('/WOLFES.otf') format('otf');
}
body {
	color: whitesmoke;
	background-color: rgb(242, 242, 242);
}
